body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border-color: darkgray;
  align-items: center;
}
